@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url("/styles/topicos.css");
@import url("/styles/contato.css");
@import url("/styles/rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');



:root {
    --cor-de-fundo: #EBECEE;
    --laranja: #EB9B00;
    --branco: #FFFFFF;
    --azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    font-family: "Poppins", sans-serif;
    --azul2: #002F52;
    --preto: #000000;
    --cinza: #474646;
    --cinza-claro: #858585;




}

body {

    background-color: var(--cor-de-fundo);
    font-size: 16px;
    font-family: var(--fonte-principal);
    font-weight: 400;

}
